ConsoleApplicationIO/CoreApplicationIO/DATA/Data.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Car">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:string" name="CarId" use="required"/>
					<xs:attribute type="xs:string" name="Model" use="required"/>
					<xs:attribute type="xs:string" name="ModelVersion" use="required"/>
					<xs:attribute type="xs:string" name="Engine" use="required"/>
					<xs:attribute type="xs:short" name="Displacement" use="required"/>
					<xs:attribute type="xs:short" name="Speed" use="required"/>
					<xs:attribute type="xs:dateTime" name="Date" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
